<div class="header_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="logo">
                    <a  [routerLink]="['/']"> <img src="../../../../assets/images/logo_one.png" alt="logo"> </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="menu_area">
                    <a  [routerLink]="['/']">Home</a> 
                    <a  [routerLink]="['/about-us']">Database Images</a> 
                </div>
            </div>
        </div>
    </div>
</div>
    
